* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #efefef;
  color: #626262;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
}
nav {
  background: blue;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
  padding: 5px 5%;
}
.left-nav,
.right-nav {
  display: flex;
  align-items: center;
}
.left-nav img {
  width: 10rem;
}
.left-nav .search-box {
  width: 20rem;
  background: #efefef;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 50px;
}
.search-box input {
  border: none;
  outline: 0;
  background: transparent;
  padding: 5px;
  margin-left: 5px;
}
.left-nav .search-box img {
  width: 1rem;
}

.right-nav .icons ul li {
  display: inline-block;
  padding: 5px;
}
.right-nav ul {
  margin-right: 30px;
}
.icons ul li {
  list-style: none;
}
.right-nav li img {
  width: 28px;
}
.user-icon img {
  width: 40px;
  border-radius: 50%;
}
.online {
  position: relative;
}
.online::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: chartreuse;
  border: 2px solid #fff;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
}
.left-sidebar {
  flex-basis: 22%;
  position: sticky;
  left: 0;
  top: 50px;
  height: 100vh;
}
.main-content {
  flex-basis: 50%;
  height: 100vh;
}
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  right: 0;
  top: 20px;
  background: #fff;
  padding: 15px;
  height: 100vh;
  border-radius: 4px;
}

.left-sidebar .imp-link {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 25px;
}
.imp-link img {
  width: 25px;
  margin-right: 10px;
}
.imp-links {
  border-bottom: 1px solid grey;
}

.your-shortcuts .title {
  padding: 20px 0;
  font-weight: 600;
}
.your-shortcut {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.your-shortcut img {
  width: 40px;
  border-radius: 4px;
  margin-right: 10px;
}

.right-sidebar .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.right-sidebar .title {
  font-weight: 600;
}
.right-sidebar a {
  font-size: 12px;
  font-weight: lighter;
}
.right-sidebar .advertisement-img {
  width: 100%;
  border-radius: 4px;
}
.right-sidebar .chat .person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.person p {
  margin-left: 10px;
}
.chat .online::after {
  top: unset;
  left: 35px;
  bottom: 3px;
}

.story-gallery {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin-bottom: 30px;
}
.story {
  width: 18%;
  padding-top: 32%;
  background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
    url('./Socialbook_img/status-1.png');
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  position: relative;
}
.story img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(30, 44, 177);
  cursor: pointer;
}
.mystory img {
  position: absolute;
  top: unset;
  bottom: 30px;
  transform: translate(-50%);
  left: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.story1 {
  background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
    url('./Socialbook_img/status-2.png');
}
.story2 {
  background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
    url('./Socialbook_img/status-5.png');
}

.story3 {
  background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
    url('./Socialbook_img/status-3.png');
}

.story4 {
  background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
    url('./Socialbook_img/status-4.png');
}
.story p {
  color: white;
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.post {
  background: #fff;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
}
.post .post-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.post-head img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}
.post input {
  border: none;
  outline: 0;
  background: #efefef;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
}
.post-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #efefef;
  padding: 20px;
}
.post-icons p {
  font-size: 14px;
  font-weight: 700;
}
.post-icons img {
  width: 25px;
  margin-right: 10px;
}
.icon-1,
.icon-2,
.icon-3 {
  display: flex;
  align-items: center;
}

.create-room,
.create-room-icon,
.room-people {
  display: flex;
  align-items: center;
}
.create-room {
  width: 85%;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  padding: 10px 20px;
}

.room-people img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #ccc;
}
.create-room-icon {
  border: 2px solid lightblue;
  border-radius: 20px;
  padding: 5px;
}
.create-room-icon img {
  width: 20px;
  padding: 5px;
}

.post-container {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  margin: 20px auto;
}
.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile i {
  margin-left: 5px;
}
.post-container p {
  font-size: 13px;
  margin-bottom: 5px;
}
.post-container .status-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icon img {
  width: 18px;
  margin-right: 10px;
}
.activity-icon div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}

.footer {
  text-align: center;
}

.setting-menu {
  position: absolute;
  width: 90%;
  overflow: hidden;
  max-width: 350px;
  max-height: 0px;
  right: 5%;
  top: 110%;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}
.setting-menu-height {
  max-height: 450px;
}
.setting-menu a {
  font-size: 12px;
}
